README.el
recentf
srecode-map.el
irony/
games/
tramp
nameses-sessions/
network-security.data
emojis/
ac-comphist.dat
user.org
user.el
xkcd/
emms/
speed-type/
url/
var/
request/
transient/
straight/
projectile-bookmarks.eld
projectile.cache
.cache/
SessionDesktop.el
.lsp-session-v1
.dap-breakpoints
workspace/
eclipse.jdt.ls/
